{% extends "search_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load ahjo_tags %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    <h2>{{ agendaitem.subject }}</h2>

    {% if more_items %}
    <ul class="nav nav-tabs">
      {% for item in items %}
      <li role="presentation" {% if item.pk == agendaitem.pk %}class="active"{% endif %}>
	<a href="{{ item.get_absolute_url }}">
	  {% blocktrans with since=item.last_modified_time|timesince %}{{ since }} ago{% endblocktrans %}
	</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="agenda_info">
      <div class="tags">
	{% for tag in agendaitem.tag_cloud %}
	<a href="{% url "haystack_search" %}?q={{ tag.name }}" class="tag tag-size-{{ tag.font_size }}">{{ tag.name }}</a>
	{% endfor %}
      </div>
      {% if agendaitem.preparer %}
      <p><strong>{% trans "Preparer" %}:</strong> {{ agendaitem.preparer }}</p>
      {% endif %}
      <p><strong>{% trans "Date updated" %}:</strong> {{ agendaitem.last_modified_time }}</p>
      <p><strong>{% trans "Classification" %}:</strong> {{ agendaitem.original.classification_description }}</p>
      <p><strong>{% trans "Resolution" %}:</strong> {{ agendaitem.get_resolution_display }}</p>
    </div>

    {% if agendaitem.has_geometry %}
    <div id="content_map">
    </div>
    {% endif %}

    <div id="content_block">
      {% for c in agendaitem.original.content %}
      <div class="agenda_content">
	<h3>{{ c.type|map_section_type }}</h3>
	{{ c.text|safe }}
      </div>
      {% endfor %}

      <h3>{% trans "Attachments" %}</h3>

      {% if agendaitem.get_attachments %}
      <ol>
	{% for a in agendaitem.get_attachments %}
	<li class="agenda-attachment">
	  <p>{{ a.name }} [{{ a.file_type }}]</p>

	  <a href="{{ a.file_uri }}">{% trans "Download" %}</a>
	</li>
	{% endfor %}
      </ol>
      {% else %}
      <p>{% trans "This decision has no attachments." %}</p>
      {% endif %}
    </div>

    <div class="agenda_issue">
      {% with agendaitem.original.issue as issue %}
      <h3>{% trans "Issue" %}: {{ issue.subject }}</h3>
      <p>{{ issue.summary }}</p>
      {% endwith %}
    </div>

    <div class="agenda_meeting">
      {% with agendaitem.original.meeting as meeting %}
      <h3>{% trans "Meeting information" %}</h3>
      <p><strong>{% trans "Council" %}:</strong> {{ meeting.policymaker_name }}</p>
      <p><strong>{% trans "Date" %}:</strong> {{ meeting.date }}</p>
      {% endwith %}
    </div>


  </div>
</div>

{% endblock %}

{% block css %}
{% if agendaitem.has_geometry %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static "js/optimal-select.js" %}"></script>
<script src="{% static "js/comments.js" %}"></script>

{% if agendaitem.has_geometry %}
<script src="{% static "leaflet/leaflet.js" %}"></script>
<script type="text/javascript">
  var geometry_url = '{% url 'ahjo-get-geometry' agendaitem.pk %}';
</script>
<script src="{% static "js/contentmap.js" %}"></script>

{% endif %}

<script type="text/javascript">
  comments_url = "{% url "ahjo-get-comments" id_b36 agendaitem.pk %}";
  item_id = "{{ id_b36 }}";
  commenting_enabled = {{ request.user.is_authenticated|yesno:"true,false" }};
</script>

<div style="display:none;" class="snippets">
  <!-- HTML snippets for javascript -->
  <div class="comment-form">
    <form method="post" action="{% url 'ahjo-comment' id_b36 agendaitem.pk %}">
      {% csrf_token %}
      {{ comment_form.selector }}
      <p>{{ comment_form.text }}</p>
      <div class="meta">
	<button type="submit" class="btn btn-primary">{% trans "Send Comment" %}</button>
	<span class="length-feedback"></span>
      </div>
    </form>
  </div>
</div>
{% endblock %}
