.inline-block {
    display: inline-block;
}

.comment-poster :after {
    content: " ";
}

#search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-button {
    padding: 9px 12px;
}

#geosearch-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#geosearch-button {
    padding: 9px 12px;
}

.commentable {
    position: relative;
}

.comments-bubble i {
    margin-right: .2em;
}


.site-logo {
    width: auto;
}
.site-logo h1 {}

.site-logo img {
    height: 35px;
}

.nav-logout-form {
    margin: 0;
}

.search-form {
    margin-top: 1em;
}

.custom-header {
    margin-bottom: 0.5em;
}

.jumbo-bg {
    background-image: url("../img/kuulutustaulu-1600.png");
}

.subscription-list-item button.btn {
    font-size: 11px;
}

.btn.active {
    background: #FFEAFC;
    color: #222222;
}

#search-input {
    min-width: 150px;
}

.tag {
    margin-bottom: 6px;
}

.tag-size-1 {font-size: 90%;}
.tag-size-2 {font-size: 110%;}
.tag-size-3 {font-size: 140%;}
.tag-size-4 {font-size: 160%;}

#content_map {
    height: 500px;
}

#search_map {
    height: 500px;
}

.comment-delete {
    margin-left: .5em;
}
.comment-delete button {
    margin-left: .5em;
}

.search-tabs > li {
    margin: 0 .25em 0 0;
}

@media (max-width: 48em) {
    .custom-logo-mobile {
	display: inline-block;
    }
    .custom-logo-desktop {
	display: none;
    }
}

@media (min-width: 48em) {
    .custom-logo-mobile {
	display: none;
    }
    .custom-logo-desktop {
	display: inline-block;
    }
}

@media (min-width: 992px) {
    .comments-bubble {
        position: absolute;
	left: 810px; /* 10 * 81px */
	width: 130px;
    }
}

@media (min-width: 1200px) {
    .comments-bubble {
	left: 970px; /* 10 * 97px */
    }
}
