{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>{% trans "Dashboard" %}</h2>

    <div class="row">
      <div class="col-md-6">
	<h3>{% trans "Active subscriptions" %}</h3>

	<ul class="list-group">
	  {% for s in subscriptions %}
	  <li class="list-group-item">

	    {% if s.send_mail %}
	    <span class="badge">
	      <i class="glyphicon glyphicon-envelope"></i>
	    </span>
	    {% endif %}

	    {% if s.fresh_for_user %}
	    <span class="badge">
	      <i class="glyphicon glyphicon-leaf"></i>
	      {% if s.fresh_for_user > 1 %}{{ s.fresh_for_user }}{% endif %}
	    </span>
	    {% endif %}

	    <p><a href="{% url 'haystack_search' %}?q={{ s.subscription.search_term }}">{{ s.subscription.search_term }}</a></p>

	    <p><small><a href="{% url "edit-subscription" s.pk %}">{% trans "Edit" %}</a></small></p>
	  </li>
	  {% empty %}
	  <li class="list-group-item list-group-item-info text-center bc-base">
	    {% blocktrans %}You can create subscriptions by saving searches you have made{% endblocktrans %}
	  </li>
	  {% endfor %}
	</ul>

	<div class="legend">
	  <h4>{% trans "Legend" %}</h4>
	  <p>
	    <span class="badge">
	      <i class="glyphicon glyphicon-envelope"></i>
	    </span>
	    {% trans "New notifications are sent to you by email as well" %}
	  </p>
	  <p>
	    <span class="badge">
	      <i class="glyphicon glyphicon-leaf"></i>
	    </span>
	    {% trans "Fresh. Has triggered notifications for you recently" %}
	  </p>
	</div>
	{% if inactive_subscriptions %}
	<h3>{% trans "Dormant subscriptions" %}</h3>

	<p>{% blocktrans %}These subscriptions will not add notifications to your feed or send email. You can enable subscriptions from here by editing them.{% endblocktrans %}</p>

	<ul class="list-group">
	  {% for s in inactive_subscriptions %}
	  <li class="list-group-item">
	    <p>{{ s.subscription.search_term }}</p>

	    <small><a href="{% url "edit-subscription" s.pk %}">{% trans "Edit" %}</a></small>
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
      </div>
      <div class="col-md-6">
	<h3>{% trans "Feed" %}</h3>

	{% if feed %}
	<ol class="list-group">
	  {% for item in feed %}
	  <li class="list-group-item">
	    <p><a href="{{ item.link }}">{{ item.subject }}</a></p>
	    <p>{% blocktrans with term=item.user_search_terms|join:"; " timestamp=item.created since=item.created|timesince count counter=item.user_search_terms|length %}from search <tt>{{ term }}</tt> <abbr title="{{ timestamp }}">{{ since }}</abbr> ago{% plural %}from searches <tt>{{ term }}</tt> <abbr title="{{ timestamp }}">{{ since }}</abbr> ago{% endblocktrans %}</p>
	  </li>
	  {% endfor %}
	</ol>
	{% else %}
	<div class="well text-center bc-base">
	  <p>{% blocktrans %}Every time your subscriptions find new decisions, they are listed here.{% endblocktrans %}</p>
	  <p>{% blocktrans %}This is just the new stuff, old results from new subscriptions are never added to the feed.{% endblocktrans %}</p>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
