{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{% trans "Feed" %}</h2>

    <a href="{% url 'public-feed' %}">{% trans "Public Feed" %}</a>

    {% if feed %}
    <ol class="list-group">
      {% for item in feed %}
      <li class="list-group-item">
	{% include "subscriptions/feed_item.html" %}
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <div class="well text-center bc-base--lightest">
      <p>{% blocktrans %}Every time your subscriptions find new decisions or someone replies to comments you have made, they are listed on this page.{% endblocktrans %}</p>
      <p>{% blocktrans %}This is just the new stuff, old results from new subscriptions are never added to the feed.{% endblocktrans %}</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
