{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{% trans "Public Feed" %}</h2>

    <div class="well text-center bc-base--lightest">
      <p>{% trans "Recent decisions people are subscribing to will show up here" %}</p>
      {% url 'login-or-register' as login_or_register_url %}
      <p>{% blocktrans %}You can <a href="{{ login_or_register_url }}">login or register</a> to customize your own feed{% endblocktrans %}</p>
    </div>

    {% if feed %}
    <ol class="list-group">
      {% for item in feed %}
      <li class="list-group-item">
	<p><a href="{{ item.link }}">{{ item.subject }}</a></p>
	<p><time datetime="{{ item.created.isoformat }}">{% blocktrans with since=item.created|timesince %}{{ since }} ago{% endblocktrans %}</time></p>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>
{% endblock %}
