<!doctype html>

<html class="flexbox">

{% load i18n %}
{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% trans "Decisions" %}</title>

<!-- Standard CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">

<!-- D-CENT standard CSS -->
<!-- See also: https://github.com/d-cent/patterns -->
<link href="{% static "dcent/css/main.css" %}" rel="stylesheet">
<!-- <link href="{% static "dcent/css/ie.css" %}" rel="stylesheet"> -->
<link href="{% static "dcent/css/fonts.css" %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static "dcent/img/favicon.png" %}">

<!-- Custom CSS Overrides Everything Else -->
<link href="{% static "css/site.css" %}" rel="stylesheet">

{% block css %}{% endblock %}

<div class="wrap--header bc-grey--lightest header--sticky custom-header">
  <header class="header--login l-constrained" role="banner">
    <a class="site-logo" href="{% url 'index' %}">
      <h1>
	<img class="logo-mobile custom-logo-mobile" src="{% static "dcent/img/logo.svg" %}" alt="{% trans "Decisions" %}">
	<img class="logo-desktop custom-logo-desktop" src="{% static "dcent/img/D-CENT_logo.svg" %}" alt="{% trans "Decisions" %}">
      </h1>
    </a>

    <nav role="navigation">
      <ul class="bare-list nav nav-primary">
        <li class="nav__item">
	  {% if user.is_authenticated %}
	  <a href="{% url 'feed' %}"><i class="fa fa-comments"></i>
	    <span>{% trans "Feed" %}
	      {% if unread_notifications %}<i class="count c-white bc-comp--light">{{ unread_notifications }}</i>{% endif %}</span>
	  </a>
	  {% else %}
	  <a href="{% url 'public-feed' %}"><i class="fa fa-comments"></i>
	    <span>{% trans "Feed" %}</span>
	  </a>
	  {% endif %}
	</li>
        <li class="nav__item">
	  <a href="{% url 'subscriptions' %}"><i class="icon icon-chat"></i>
	    <span>{% trans "Subscriptions" %}</span>
	  </a>
	</li>
      </ul>
      <ul class="bare-list nav nav-settings">
	{% if user.is_authenticated %}
        <li class="nav__item">
	  <a href="{% url 'edit-profile' %}"><i class="icon icon-avatar"></i>
	    <span>{% blocktrans with username=user.username %}Logged in: <strong>{{ username }}</strong>{% endblocktrans %}</span>
	  </a>
	</li>
	<li class="nav__item">
	  <form method="post" action="{% url 'logout' %}" class="inline-block nav-logout-form">
	    {% csrf_token %}
	    <button class="btn">{% trans "Log out" %}</button>
	  </form>
	</li>
	{% else %}
	<li class="nav__item">
	  <a href="{% url 'login-or-register' %}">
	    <i class="icon icon-avatar"></i>
	    <span>
	      {% trans "Log in or register" %}
	    </span>
	  </a>
	</li>
	{% endif %}
      </ul>
    </nav>
  </header>
</div>

{% block content_bare %}
<div class="container">
  {% block search_bar %}{% endblock %}

  {% for message in messages %}
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="message alert alert-dismissible alert-{{ message.level_tag }} {{ message.extra_tags }}">
	<div class="message__body">{{ message.message|safe }}
	  <span class="message__close" aria-hidden="true" data-dismiss="alert">&times;</span>
	</div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% block content %}{% endblock %}

  <div class="row">
    <div class="col-md-12">
      <hr>
      <footer>
	<div class="row">
	  <div class="col-md-4">
	    <h4>{% trans "About" %}</h4>

	    {% with "https://github.com/okffi/decisions" as project_url %}
	    <p>{% blocktrans %}This website is free open source software. Source code is available <a href="{{ project_url }}">on Github</a>.{% endblocktrans %}</p>
	    {% endwith %}
	  </div>
	  <div class="col-md-4">
	    <h4>{% trans "Links" %}</h4>

	    <ul>
	      <li><a href="{% url 'list-comments' %}">{% trans "Latest comments" %}</a></li>
	      <li><a href="https://github.com/okffi/decisions/issues">{% trans "Issue tracker" %}</a></li>
	      <li><a href="{% url 'privacy' %}">{% trans "Privacy policy" %}</a></li>
	    </ul>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-6">
	    <a href="http://www.okfn.org/">
	      <img src="{% static "img/okf.png" %}" alt="Open Knowledge Foundation">
	    </a>
	  </div>
	  <div class="col-md-2">
	    <a href="http://dcentproject.eu">
	      <img src="{% static "dcent/img/D-CENT_Logo.png" %}" alt="D-Cent Project" style="height:43px;">
	    </a>
	  </div>
	</div>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

<script src="{% static "js/jquery-2.2.1.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% block base_script %}{% endblock %}
{% block script %}{% endblock %}

<script type="text/javascript">
  $(document).ready(function() {
    {% block ready_script %}{% endblock %}
  });
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
      }
    }
  });
</script>

</html>
