<!doctype html>

{% load i18n %}
{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% trans "Decisions" %}</title>

<!-- Site/Custom CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/site.css" %}" rel="stylesheet">
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">

<!-- D-CENT standard CSS -->
<!-- See also: https://github.com/d-cent/patterns -->
<link href="{% static "dcent/css/main.css" %}" rel="stylesheet">
<!-- <link href="{% static "dcent/css/ie.css" %}" rel="stylesheet"> -->
<link href="{% static "dcent/css/fonts.css" %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static "dcent/img/favicon.png" %}">

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{% url 'index' %}"><h1>{% trans "Decisions" %}</h1></a>

      <form method="get" action="{% url "haystack_search" %}">
	<div class="input-group">
	  <input type="text" name="q" placeholder="{% trans "Search from decisions" %}" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %} id="search-input">
	  <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="search-button">{% trans "Search" %}</button>
	  </span>
	</div>
      </form>

    </div>
  </div>

  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <span>{% blocktrans with user.username as username %}Logged in as <strong>{{ username }}</strong>{% endblocktrans %}</span>
      <form method="post" action="{% url 'logout' %}" class="inline-block">
	{% csrf_token %}
	<button class="btn btn-link">{% trans "Log out" %}</button>
      </form>
    </div>
  </div>
  {% endif %}

  {% for message in messages %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br>
      <div class="message alert alert-dismissible alert-{{ message.level_tag }} {{ message.extra_tags }}">
	<div class="message__body">{{ message.message|safe }}
	  <span class="message__close" aria-hidden="true" data-dismiss="alert">&times;</span>
	</div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% block content %}{% endblock %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <footer>
	<div class="row">
	  <div class="col-md-6">
	    {% with "https://github.com/okffi/decisions" as project_url %}
	    <p>{% blocktrans %}This website is free open source software. Source code is available <a href="{{ project_url }}">on Github</a>.{% endblocktrans %}</p>
	    {% endwith %}
	  </div>
	  <div class="col-md-4">
	    <a href="http://www.okfn.org/">
	      <img src="{% static "img/okf.png" %}" alt="Open Knowledge Foundation">
	    </a>
	  </div>
	  <div class="col-md-2">
	    <a href="http://dcentproject.eu">
	      <img src="{% static "dcent/img/D-CENT_Logo.png" %}" alt="D-Cent Project" style="height:43px;">
	    </a>
	  </div>
	</div>
      </footer>
    </div>
  </div>
</div>

<script src="{% static "js/jquery-2.2.1.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static "js/autocomplete.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    AutoComplete({
      EmptyMessage: "…",
      Url: "{% url "suggest" %}"
    });
    $("#search-input").focus();
  });
</script>
{% block script %}{% endblock %}
