{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{% block form_title %}{{ verb|default:_("Form") }}{% endblock %}</h2>

    {% block before_form %}{% endblock %}

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      {% include "snippets/form_group.html" %}
      {% endfor %}
      <button type="submit" class="btn btn-primary">{% block form_submit %}{{ verb|default:_("Submit") }}{% endblock %}</button>
    </form>
  </div>
</div>
{% endblock %}
