{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% if user.is_anonymous %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr>
    <p>{% blocktrans %}Get involved with your community. Find where decisions are made, comment on them and get notified when things you care about come up{% endblocktrans %}</p>
    {% url 'login-or-register' as login_or_register_url %}
    <p>{% blocktrans %}<a href="{{ login_or_register_url }}">Log in or register</a> to save your searches and receive notifications about new developments. You can also comment on decisions{% endblocktrans %}</p>
  </div>
</div>
{% else %}
{% include "subscriptions/dashboard.html" %}
{% endif %}

{% endblock %}
