{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block search_bar %}
<div class="row">
  <div class="col-md-12">
    <form method="get" action="{% url "haystack_search" %}" class="search-form">
      <div class="input-group">
	<input type="text" name="q" placeholder="{% trans "Search from decisions" %}" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %} id="search-input">
	<span class="input-group-btn">
          <button class="btn btn-primary" type="submit" id="search-button">{% trans "Search" %}</button>
	</span>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block base_script %}
<script src="{% static "js/autocomplete.js" %}"></script>
{% endblock %}

{% block ready_script %}
AutoComplete({
  EmptyMessage: "…",
  Url: "{% url "suggest" %}"
});
$("#search-input").focus();
{% endblock %}
